.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.k-header {
  display: block;
  position: relative;
  padding: 18px 0;
  background-color: #ffffff;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: none;
    max-width: 100%;
    padding: 6px 0 6px 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;

    img {
      display: block;
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__hr {
    display: inline-block;
    width: 1px;
    height: 85px;
    background-color: #c6c6c6;
  }

  &__row {
    display: inline-block;
    width: auto;

    p {
      display: inline-block;
      margin: 0;
    }

    a {
      color: #3d3d3d;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #fa9508;
        text-decoration: none;
      }
    }

    &-line {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }

    &-icon {
      display: inline-block;
      width: 26px;
      height: 26px;
      margin-right: 8px;
      object-fit: scale-down;
    }
  }

  &__phone {
    display: block;
    margin: 0 0 12px 0;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 700;
  }

  &__link {
    display: block;
    margin: 0;
    color: #fa9508 !important;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline !important;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9508;
      text-decoration: none !important;
    }
  }
}

.k-nav {
  display: block;
  position: relative;
  width: 100%;
  background-color: #7aa629;

  &_stocks {
    padding-left: 22px;
    background: url('../images/icon_stocks.png') no-repeat left center;
  }

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;

      &>a {
        display: inline-block;
        position: relative;
        padding: 25px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #fa9508;
          text-decoration: none;
        }
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 270px;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    box-shadow: 0 0 38px 2px rgba(0, 0, 0, 0.11);
    background-color: #f8f8f8;
    z-index: 3;

    &>li {
      display: block;
      width: 100%;

      &>a {
        display: block;
        width: 100%;
        padding: 8px 30px;
        border-right: 3px solid transparent;
        color: #3d3d3d;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background-color: #e3e3e3;
          color: #3d3d3d;
          text-decoration: none;
        }
      }
    }
  }

  &__subdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 290px;
    margin: -20px 0 0 0;
    padding: 20px 0;
    list-style: none;
    box-shadow: 0 0 38px 2px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    z-index: 4;

    &>li {
      display: block;
      width: 100%;

      &>a {
        display: block;
        width: 100%;
        padding: 8px 30px;
        border-right: 3px solid transparent;
        color: #3d3d3d;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background-color: #e3e3e3;
          color: #3d3d3d;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    &:hover {

      &>a {
        color: #fa9508;
      }

      .k-nav__drop {
        display: block;
      }
    }
  }

  &__subdropper {
    position: relative;

    &>a {
      border-color: #fa9508 !important;
    }

    &:hover {
      background-color: #e3e3e3;

      .k-nav__subdrop {
        display: block;
      }
    }
  }
}

.k-breadcrumps {
  display: block;
  position: relative;
  padding: 9px 0;
  background-color: #3d3d3d;

  &__this {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    li {
      display: inline;

      a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #fa9508;
          text-decoration: none;
        }
      }
    }
  }
}

.k-page-big {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.k-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0;
  background-color: #ffffff;

  &_centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  &__title {
    display: inline-block;
    position: relative;
    margin: 0 auto 40px auto;
    border-bottom: 3px solid #fa9508;
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;

    a {
      color: #3d3d3d;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #7aa629;
        text-decoration: none;
      }
    }
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    max-width: 820px;
    margin: 0 auto 50px auto;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    text-align: center;
  }
}

.k-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 0 0 60px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 296px;
    padding: 26px 30px 15px 30px;
    box-shadow: 0 0 17px 1px rgba(250, 149, 8, 0.31);
    border: 2px solid #fa9508;
    background-color: #ffffff;

    &-title {
      display: block;
      width: 100%;
      margin: 0 0 22px 0;
      color: #3d3d3d;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #fa9508;
        text-decoration: none;
      }
    }

    &-list {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0 0 12px 0;

        a {
          display: inline;
          margin: 0;
          color: #3d3d3d;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: underline;
          transition: all 0.2s ease-out;

          &:hover {
            color: #fa9508;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.k-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 90px 0;
  background: url('../images/form_bg.png') no-repeat center;
  background-size: cover;

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 340px;
    margin: 0 auto 12px auto;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }

  &__description {
    display: block;
    width: 100%;
    max-width: 470px;
    margin: 0 auto 45px auto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  input[type='text'] {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid #fa9509;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .rangeslider--horizontal {
    width: 100%;
    height: 3px;
  }

  .rangeslider {
    margin: 25px 0 50px 0;
    box-shadow: none;
    background: #ffffff;
  }

  .rangeslider__fill {
    background: #fa9509;
  }

  .rangeslider__handle:after {
    width: 10px;
    height: 10px;
    background: #ffffff;
  }

  .rangeslider__handle {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fa9509;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #fa9508;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 355px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #fa9508;
        text-decoration: none;
      }
    }
  }

  &__choose {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #fa9508;
      text-decoration: none;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+.k-form__choose-text {
        background: url('../images/icon_checkbox_checked.png') no-repeat left 2px !important;
      }
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0 0 28px 20px;
      background: url('../images/icon_checkbox.png') no-repeat left 2px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    &-label {
      display: inline-block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }

    input {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 7px 50px 7px 15px;
      border: 1px solid #fa9509;
      outline: none;
      background-color: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__number {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 165px;

    &:after {
      display: block;
      position: absolute;
      content: 'чел.';
      top: 8px;
      right: 10px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.k-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0;
  background-color: #3d3d3d;

  &_border_right {
    position: relative;
    padding-right: 65px;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 60px;
      width: 1px;
      height: 100%;
      background: #c6c6c6;
    }
  }

  &__logo {
    display: block;
    max-width: 100%;
    margin: 0 0 35px 0;

    img {
      display: block;
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9508;
      text-decoration: none;
    }
  }

  &__creators {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    img {
      display: inline;
      max-width: 100%;
      margin: 0 5px 5px 0;
    }

    p {
      display: inline;
      margin: 0;
    }

    a {
      display: inline;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #fa9508;
        text-decoration: none;
      }
    }
  }

  &__list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      &:last-child {
        a {
          margin: 0;
        }
      }

      a {
        display: block;
        margin: 0 0 12px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #fa9508;
          text-decoration: none;
        }
      }
    }
  }

  &__social {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0 0 0;

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }

    &-this {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: inline-block;
        margin: 10px 20px 0 0;
        color: #ffffff;
        font-size: 35px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          opacity: 0.7;
          color: #fa9508;
          text-decoration: none;
        }
      }
    }
  }
}

.k-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    padding: 65px;
    box-shadow: 0 6px 56px 1px rgba(0, 0, 0, 0.14);
    border-radius: 0;
    background: #ffffff url('../images/modal_bg.jpg') no-repeat center;
    background-size: cover;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 auto 12px auto;
    color: #3d3d3d;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }

  &__description {
    display: block;
    max-width: 320px;
    margin: 0 auto 40px auto;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #3d3d3d;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #3d3d3d;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #3d3d3d;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #3d3d3d;
  }

  input[type='text'] {
    display: block;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid #fa9509;
    background: transparent;
    outline: none;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .rangeslider--horizontal {
    width: 100%;
    height: 3px;
  }

  .rangeslider {
    margin: 25px 0 35px 0;
    box-shadow: none;
    background: #3d3d3d;
  }

  .rangeslider__fill {
    background: #fa9509;
  }

  .rangeslider__handle:after {
    width: 10px;
    height: 10px;
    background: #ffffff;
  }

  .rangeslider__handle {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fa9509;
  }

  &__button {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 0;
    outline: none;
    background-color: #fa9508;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ffffff;
      color: #3d3d3d;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 355px;
    margin: 0;
    opacity: 0.5;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #3d3d3d;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #fa9508;
        text-decoration: none;
      }
    }
  }

  &__choose {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #fa9508;
      text-decoration: none;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked+.k-modal__choose-text {
        background: url('../images/icon_checkbox_checked.png') no-repeat left 2px !important;
      }
    }

    &-text {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0 0 28px 20px;
      background: url('../images/icon_checkbox.png') no-repeat left 2px;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    &-label {
      display: inline-block;
      margin: 0;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }

    input {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 7px 50px 7px 15px;
      border: 1px solid #fa9509;
      outline: none;
      background-color: transparent;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__number {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 165px;

    &:after {
      display: block;
      position: absolute;
      content: 'чел.';
      top: 8px;
      right: 10px;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.k-kitchens {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 0 0 40px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 404px;
    height: 404px;
    margin: 0 0 70px 0;
    background-position: center center;
    background-size: cover;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      &:after {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      max-width: 350px;
      margin: 0 0 -50px 0;
      padding: 40px 20px;
      box-shadow: 0 0 38px 2px rgba(0, 0, 0, 0.11);
      background-color: #7aa629;
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      z-index: 1;
    }
  }
}

.k-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0 80px 0;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 616px;
    height: 400px;
    margin: 0 0 20px 0;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .k-gallery__card-content {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-out;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}

.k-stocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 345px;
    margin: 0 35px 75px 35px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .k-stocks__card-overlay {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 345px;
      margin-bottom: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-overlay {
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.47);
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      width: 100%;
      max-width: 280px;
      margin: 0 0 20px 0;
      color: #3d3d3d;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }

    &-text {
      display: block;
      width: 100%;
      max-width: 310px;
      margin: 0 0 25px 0;
      color: #797979;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    &-hr {
      display: block;
      width: 100%;
      max-width: 100px;
      height: 3px;
      background-color: #7aa629;
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.k-about-slick {
  display: block;
  position: relative;
  width: 100%;

  .slick-next,
  .slick-prev {
    width: 17px;
    height: 27px;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    margin-right: 60px;
    background: url("../images/icon_slick_next.png");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    margin-left: 60px;
    background: url("../images/icon_slick_prev.png");

    &:before {
      display: none;
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    overflow-y: auto;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;

    &-text {
      display: block;
      width: 100%;
      max-width: 800px;
      height: 120px;
      overflow: hidden;
      margin: 0 auto 100px auto;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.88;
    }

    &-button {
      display: inline-block;
      margin: 0;
      padding: 21px 50px;
      background-color: #ffffff;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #fa9508;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.k-partners {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0 100px 0;
  background: #ffffff;

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 60px 0;

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      position: relative;
      width: 23px;
      height: 23px;
      border: 2px solid #7aa629;
      border-radius: 999rem;
      opacity: 1;
    }

    .slick-dots .slick-active {
      background: #7aa629 !important;
      opacity: 1 !important;
      box-shadow: 0 0 18px 1px rgba(122, 166, 41, 0.5);
    }

    .slick-dots {
      width: 100%;
      bottom: -40px;
    }

    .slick-next,
    .slick-prev {
      width: 80px;
      height: 80px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -80px;
      background: url("../images/icon_slick_next_2.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -80px;
      background: url("../images/icon_slick_prev_2.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 230px;
    height: 120px;
    margin: 0 auto;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.k-map {
  display: block;
  position: relative;
  width: 100%;
  height: 650px;
}

.k-content {
  display: block;
  position: relative;
  width: 100%;
  padding: 315px 0 65px 0;
  background-size: 100% auto !important;

  img {
    max-width: 100%;
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 80px 20px 75px 20px;
    background: #ffffff url('../images/bg_texture.jpg') repeat left top;
    box-shadow: 0 6px 56px 1px rgba(0, 0, 0, 0.14);
    z-index: 1;
  }
}

.k-service {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;

  img {
    max-width: 100%;
  }

  &__price {
    display: block;
    margin: 0 0 28px;
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 500;
  }

  &__button {
    display: inline-block;
    padding: 16px 126px;
    background-color: #fa9509;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #ffffff;
      color: #fa9509;
      text-decoration: none;
    }
  }
}

.k-service-content {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 60px;
  color: #797979;
  font-size: 16px;

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    position: relative;
    margin: 0 0 20px 0;
    text-align: center;
    color: #3d3d3d;
    font-weight: 500;
    text-transform: uppercase;
  }

  h1 {
    font-size: 30px;
    border-bottom: 3px solid #fa9508;
  }

  h2 {
    font-size: 25px;
    border-bottom: 3px solid #fa9508;
  }

  h3 {
    font-size: 20px;
    border-bottom: 3px solid #fa9508;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
  }

  a {
    display: inline;
    color: #7aa629;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9509;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    margin: 0;
    padding: 10px 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin: 0;
      padding: 9px 0 9px 20px;
      color: #797979;
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        content: '—';
        color: #fa9508;
        font-weight: 900;
      }
    }
  }
}

.table-responsive {
  margin: 20px 0;

  .table td,
  .table th {
    padding: 14px 30px;
    border: 0;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 400;
  }

  .table thead th {
    padding: 11px 30px;
    border-bottom: 3px solid #7aa629;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 500;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background: rgba(65, 161, 95, 0.05);
  }

  .table-striped tbody tr:nth-of-type(even) {
    background: #fbfcf9;
  }

  .table-striped tbody td:nth-of-type(odd) {
    background: rgba(65, 161, 95, 0.05);
  }
}

.k-menu {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 310px;
    margin: 0 30px 40px 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 220px;
      margin: 0 0 25px 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 400;
    }

    &-price {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #3d3d3d;
      font-size: 25px;
      font-weight: 500;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        right: 100%;
        top: 0;
        margin-right: 5px;
        color: #fa9508;
        font-size: 25px;
        font-weight: 900;
      }

      &:after {
        display: block;
        position: absolute;
        content: '—';
        left: 100%;
        top: 0;
        margin-left: 5px;
        color: #fa9508;
        font-size: 25px;
        font-weight: 900;
      }
    }
  }
}

.k-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 80px 20px calc((100vw - 1280px) / 2);

  &__cards {
    display: block;
    width: 100%;
    max-width: 655px;
    margin: 0;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 95px 0;

    &-text {
      display: block;
      width: 100%;
      margin: 0 0 22px 0;
      color: #797979;
      font-size: 16px;
      font-style: italic;
      line-height: 1.88;
    }

    &-author {
      display: block;
      width: 100%;
      margin: 0 0 35px 0;
      color: #3d3d3d;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      text-align: right;
    }

    &-icon {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.k-reviews-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 570px;
  margin: 0 auto;
  padding: 75px 55px 100px 55px;

  input {
    display: block;
    width: 100%;
    margin: 0 0 30px;
    padding: 13px 20px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }

  textarea {
    display: block;
    width: 100%;
    margin: 0 0 30px;
    padding: 13px 20px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }

  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #3d3d3d;
    font-size: 22px;
    font-weight: 500;
  }

  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
  }

  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 0;
    outline: none;
    background-color: #fa9509;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #ffffff;
      color: #fa9509;
      text-decoration: none;
    }
  }
}

.k-contacts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 45px;
  left: calc((100vw - 1280px) / 2);
  width: 425px;
  min-height: 555px;
  padding: 45px 50px 40px 50px;
  box-shadow: 0 8px 17px 1px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    margin: 0 0 8px 0;
    opacity: 0.5;
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
  }

  &__info {
    display: block;
    margin: 0 0 20px 0;
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 700;
  }

  &__phone {
    display: block;
    margin: 0 0 20px 0;
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9509;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 0 20px 0;
    color: #fa9509;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9509;
      text-decoration: none;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fa9509;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #ffffff;
      color: #fa9509;
      text-decoration: none;
    }
  }
}

.k-contacts-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0;
  background: #ffffff;

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;

    &-title {
      display: block;
      margin: 0 0 14px 0;
      opacity: 0.5;
      color: #3d3d3d;
      font-size: 14px;
      font-weight: 400;
    }

    &-row {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 10px 0;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: 700;

      img {
        display: inline-block;
        width: 23px;
        height: 23px;
        margin-right: 13px;
        object-fit: scale-down;
      }

      p {
        display: inline-block;
        margin: 0;
      }

      a {
        display: inline-block;
        color: #3d3d3d;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #fa9509;
          text-decoration: none;
        }
      }
    }
  }
}

.k-home-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 55px 0 20px 0;
  background: #ffffff;

  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
}

.k-home-big {
  display: block;
  position: relative;
  width: 100%;

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li {
    position: relative;
    width: 23px;
    height: 23px;
    border: 2px solid #fa9407;
    border-radius: 999rem;
    opacity: 1;
  }

  .slick-dots .slick-active {
    background: #fa9407 !important;
    opacity: 1 !important;
    box-shadow: 0 0 18px 1px rgba(219, 147, 24, 0.25);
  }

  .slick-dots {
    width: 100%;
    bottom: 50px;
  }

  .slick-next,
  .slick-prev {
    width: 80px;
    height: 80px;
    opacity: 1;
    z-index: 1;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .slick-next {
    right: 40px;
    background: url("../images/icon_slick_next_2.png");

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: 40px;
    background: url("../images/icon_slick_prev_2.png");

    &:before {
      display: none;
    }
  }

  &__card {
    display: block;
    width: 100%;
    height: 520px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.k-home-combo {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 70px 0;
  box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.07);
  background-color: #f1f1f1;

  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;

    &-this {
      display: inline-block;
      margin: 0 30px 0 0;
      border-bottom: 3px solid #fa9509;
      color: #3d3d3d;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__arrows {
    display: inline-block;
  }

  &__arrow {
    display: inline-block;
    margin: 0 5px;
    width: 36px;
    height: 36px;
    box-shadow: 0 13px 18px 1px rgba(0, 0, 0, 0.06);
    object-fit: scale-down;

    img {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    /* 
    &_prev {
      &:hover {
        img {
          display: none;
        }

        background: url('../images/icon_slick_prev_3_hover.png') no-repeat center;
        background-size: contain;
      }
    }

    &_next {
      &:hover {

        background: url('../images/icon_slick_next_3_hover.png') no-repeat center;
        background-size: contain;
      }
    } */
  }
}

.k-videos {
  display: block;
  position: relative;
  width: 100%;
  max-width: 720px;

  &__card {
    display: block;
    position: relative;
    width: 100%;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 375px;
      margin: 0 0 25px 0;
      background-position: center center;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        img {
          transform: scale(0.9);
        }

        text-decoration: none;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.5);

      img {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }

    &-title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0;
      color: #3d3d3d;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.k-photos {
  display: block;
  position: relative;
  width: 100%;
  max-width: 445px;

  &__card {
    display: block;
    width: 100%;
    max-width: 175px;
    height: 175px;
    margin: 0 20px 20px 0;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.k-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 60px 0;
  background: url('../images/home_seo.jpg') no-repeat center;
  background-size: cover;
  color: #ffffff;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
  }

  a {
    display: inline;
    color: #fa9509;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fa9509;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    margin: 0;
    padding: 10px 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      margin: 0;
      padding: 9px 0 9px 20px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        content: '—';
        color: #fa9508;
        font-weight: 900;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1200px) {
  .k-header__toggle {
    display: inline-block;
  }

  .k-header__mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .k-header__logo {
    max-width: 280px;
  }

  .k-header__hr {
    display: none;
  }

  .k-header__row {
    display: none;
    width: 100%;
    padding: 4px 0;
  }

  .k-modal__content {
    padding: 40px 20px 20px 20px;
  }

  .k-nav__dropper:hover .k-nav__drop {
    display: none;
  }

  .k-nav__this {
    padding: 8px 0;
  }

  .k-nav__this>li {
    display: block;
    width: 100%;

    a {
      display: block;
      width: 100%;
      padding: 8px 12px;
      text-align: center;
    }
  }

  .k-nav {
    display: none;
  }

  .k-page-big {
    height: 300px;
  }

  .k-page {
    padding: 30px 0;
  }

  .k-page__title {
    margin-bottom: 20px;
  }

  .k-blocks {
    justify-content: center;
    padding: 0;
  }

  .k-form {
    padding: 30px 0;
  }

  .k-form__description {
    margin-bottom: 20px;
  }

  .k-form input[type='text'] {
    margin-bottom: 25px;
  }

  .k-form .rangeslider {
    margin-bottom: 30px;
  }

  .k-form__info {
    margin-top: 10px;
  }

  .k-footer {
    padding: 30px 0;

    .row {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }
  }

  .k-footer_border_right {
    padding-right: 15px;
  }

  .k-footer_border_right:after {
    display: none;
  }

  .k-footer__logo {
    margin: 0 auto 15px auto;
  }

  .k-footer__creators {
    justify-content: center;
    margin: 0 auto 25px auto;
  }

  .k-footer__list {
    margin-bottom: 30px;
  }

  .k-footer__social-this {
    justify-content: center;
  }

  .k-footer__social-this a {
    margin: 10px;
  }

  .k-gallery {
    justify-content: space-around;
  }

  .k-kitchens__card {
    height: 300px;
    margin-bottom: 25px;
  }

  .k-kitchens__card-title {
    margin: 0;
    opacity: 0.9;
  }

  .k-kitchens {
    padding: 0;
  }

  .k-gallery {
    padding: 30px 0;
  }

  .k-gallery__cards {
    justify-content: space-around;
  }

  .k-gallery__card {
    max-width: 300px;
    height: 300px;
  }

  .k-stocks__card-image {
    height: 250px;
  }

  .k-stocks__card {
    margin: 0 5px 25px 5px;
  }

  .k-about-slick__cards .slick-next {
    margin-right: 15px;
    opacity: 0.8;
  }

  .k-about-slick__cards .slick-prev {
    margin-left: 15px;
    opacity: 0.8;
  }

  .k-partners__cards .slick-next {
    margin-right: 10px;
    opacity: 0.8;
  }

  .k-partners__cards .slick-prev {
    margin-left: 10px;
    opacity: 0.8;
  }

  .k-partners {
    padding: 30px 0;
  }

  .k-partners__cards {
    padding: 20px;
  }

  .k-about-slick__card-text {
    max-height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .k-content {
    padding: 80px 10px 30px 10px;
  }

  .k-content__this {
    padding: 30px 15px;
  }

  .k-page__title {
    border: 0;
  }

  .k-service-content h1 {
    border: 0;
  }

  .k-service-content h2 {
    border: 0;
  }

  .k-service-content h3 {
    border: 0;
  }

  .k-service-content h4 {
    border: 0;
  }

  .k-page__description {
    margin-bottom: 20px;
  }

  .k-service__button {
    display: block;
    width: 100%;
    padding: 16px;
  }

  .k-service-content {
    padding: 30px 0;
  }

  .k-service-content img {
    margin-bottom: 20px;
  }

  .table-responsive .table thead th {
    padding: 6px;
  }

  .table-responsive .table td,
  .table-responsive .table th {
    padding: 6px;
  }

  .k-menu__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .k-menu__card {
    margin: 0 auto 25px auto;
  }

  .k-reviews {
    padding: 30px 15px;
  }

  .k-reviews__card-author {
    margin-bottom: 5px;
  }

  .k-reviews__card-text {
    margin-bottom: 5px;
  }

  .k-reviews__card {
    margin-bottom: 20px;
  }

  .k-reviews-form {
    padding: 30px 15px;
  }

  .k-reviews-form__title {
    margin-bottom: 10px;
  }

  .k-reviews-form__text {
    margin-bottom: 20px;
  }

  .k-contacts {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 400px;
    min-height: auto;
    margin: 20px auto;
    padding: 20px;
  }

  .k-map {
    height: 300px;
  }

  .k-contacts-info {
    padding: 30px 0;
  }

  .k-contacts-info__card {
    margin-bottom: 15px;
  }

  .k-home-big__card {
    height: 250px;
  }

  .k-home-big .slick-next,
  .k-home-big .slick-prev {
    opacity: 0.8;
  }

  .k-home-big .slick-next {
    right: 5px;
  }

  .k-home-big .slick-prev {
    left: 5px;
  }

  .k-home-main {
    padding: 30px 0;
  }

  .k-home-main__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .k-home-combo {
    padding: 30px 0;
  }

  .k-home-combo__title {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .k-videos {
    padding-bottom: 30px;
  }

  .k-videos__card-image {
    height: 250px;
    margin-bottom: 5px;
  }

  .k-home-combo__title-this {
    margin: 0 0 10px 0;
  }

  .k-home-seo {
    padding: 30px 0;
  }

  .k-photos__card {
    width: 150px;
    height: 150px;
    margin: 10px auto;
  }

  .k-reviews-form {
    position: relative !important;
    top: auto !important;
    bottom: auto !important;
    width: 100%;
    padding: 20px 15px;
  }

  .k-about-slick__card {
    height: 400px;
    padding: 20px;
  }

  .k-kitchens {
    justify-content: space-around;
  }

  .k-nav_stocks {
    padding: 0;
  }
}
